* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FBFBFB;

    font-family: 'Poppins';

}



.screen {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    
}

main {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 1rem;
    /* width: min(42.8rem, 90%); */
    height: 44.25rem;
    background: #FFFFFF;
    box-shadow: 0rem 1.25rem 3.125rem 0rem rgba(128, 127, 127, 0.8);
    border-radius: 2.5rem;
    background-color: #2182BF;

    
}

@keyframes animMain {
    from {
        position: relative;
        right: -550px;
    } 
    to {
        position: relative;
        right: 0px;
    }
}


.screen1 {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;

    width: 33rem;
    height: 640px;
    margin: 4.8rem ;

    background-color: #2182BF;
    color: white;
    font-size: 13pt;
}



input {
    outline: none;
    border: none;
    border-bottom: .0625rem solid white;
    background-color: transparent;
    color: white;
    font-size: 14pt;
    margin-top: .9375rem;
    

    width: 100%;
}

.screen1 button {
    position: relative;
    display: inline-block;
    margin: .9375rem;
    padding: .9375rem 1.875rem;
    text-align: center;
    font-size: 1.125rem;
    letter-spacing: .0625rem;
    text-decoration: none;
    color: white;
    background: transparent;
    cursor: pointer;
    transition: ease-out 0.5s;
    border: .125rem solid white;
    border-radius: .625rem;
    box-shadow: inset 0 0 0 0 white;
    
    margin-top: 2.5rem;
    margin-left: 11.25rem;
}

button:hover {
    color: black;
    box-shadow: inset 0 -6.25rem 0 0 white;
    transform: translateY(.3125rem) scale(1.05);
  }

  button:active {
    transform: scale(0.9);
  }



.screen1 select{
    outline: none;
    border: none;
    border-bottom: .0625rem solid white;
    background-color: transparent;
    color: white;
    font-size: 14pt;
    margin-top: .9375rem;
    padding-bottom: .625rem;
    

    width: 100%;
}

option{
    color: black;
}
  
@keyframes downtop {
    0% {
        opacity: 0;
        margin-top: 80px;
    }

    25% {
        opacity: 0.25;
    }

    50% {
        opacity: 0.50;
    }

    75% {
        opacity: 0.75;
    }

    100% {
        opacity: 1;
    }
}

@media (max-width: 26.5625rem) {
    .screen1 {
        margin: 76.8px 32px 102.4px 4.8px;
    }

    .message {
        background: #FFFFFF;
    }

}



#div_resultado {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 41.25rem;

    background-color: #d6d6d6;
    box-shadow: 0rem 1.25rem 3.125rem 0rem rgba(128, 127, 127, 0.8);
    margin-top: 1rem;
    border-radius: 2.5rem;

    text-align: center;
    padding: 0 40px;
} 

#div_resultado b {
    font-size: 20pt;
}












































.form {
    --width-of-input: 200px;
    --border-height: 1px;
    --border-before-color: rgba(221, 221, 221, 0.39);
    --border-after-color: #5891ff;
    --input-hovered-color: #4985e01f;
    position: relative;
    width: var(--width-of-input);
   }

   .input {
    color: #fff;
    font-size: 0.9rem;
    background-color: transparent;
    width: 100%;
    box-sizing: border-box;
    padding-inline: 0.5em;
    padding-block: 0.7em;
    border: none;
    border-bottom: var(--border-height) solid var(--border-before-color);
   }
  
   .input-border {
    position: absolute;
    background: var(--border-after-color);
    width: 0%;
    height: 2px;
    bottom: 0;
    left: 0;
    transition: 0.3s;
   }
   /* Hover on Input */
   input:hover {
    background: var(--input-hovered-color);
   }
   
   input:focus {
    outline: none;
   }
  
   input:focus ~ .input-border {
    width: 100%;
   }
   