* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FBFBFB;

    font-family: 'Poppins';

}

.button_back {
    position: relative;
    top: 10px;
    left: 10px;

    border: none;
    border-radius: 10px;

    background-color: #FBFBFB;

    color: #2182BF;
    font-size: 12pt;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button_back img {
    width: 60px;
    height: 60px;
    color: white;
}

.button_back:hover {
    color: black;
    box-shadow: inset 0 -6.25rem 0 0 #FBFBFB;
    transform: translateY(.3rem) scale(1.05);
    transition: 0.2s;
    transition-property: all;
}

.button_back:active {
    transform: scale(0.9);
}

.screen {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;

}

main {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 1rem;
    height: 44.25rem;
    background: #FFFFFF;
    box-shadow: 0rem 1.25rem 3.125rem 0rem rgba(128, 127, 127, 0.8);
    border-radius: 2.5rem;
    background-color: #2182BF;

    animation: downtop 0.8s ease;
}

.screen1 {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    width: 528px;
    height: 40rem;
    background-color: rgb(33, 130, 191);
    color: white;
    font-size: 13pt;
    margin: 76.8px;
}



input {
    outline: none;
    border: none;
    border-bottom: .0625rem solid white;
    background-color: transparent;
    color: white;
    font-size: 14pt;
    margin-top: .9375rem;

    height: 100px;
    width: 100%;
}

#input_qtd_ar_condicionado,
#input_qtd_horas,
#input_qtd_dias {
    font-size: 16px;
    padding: 0px 0px 0px 0px;
    display: block;
    width: 535px;
    border: none;
    border-bottom: 1px solid white;
    background: transparent;
}

#input_qtd_ar_condicionado:focus,
#input_qtd_horas:focus,
#input_qtd_dias {
    outline: none;
}

.bar,
.bar2,
.bar3 {
    position: relative;
    display: block;
    width: 535px;
}

.bar:before,
.bar:after,
.bar2:before,
.bar2:after,
.bar3:before,
.bar3:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #fdfdff;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.bar:before,
.bar2:before,
.bar3:before {
    left: 50%;
}

.bar:after,
.bar2:after,
.bar3:after {
    right: 50%;
}

#input_qtd_ar_condicionado:focus~.bar:before,
#input_qtd_ar_condicionado:focus~.bar:after,
#input_qtd_horas:focus~.bar2:before,
#input_qtd_horas:focus~.bar2:after,
#input_qtd_dias:focus~.bar3:before,
#input_qtd_dias:focus~.bar3:after {
    width: 50%;
}

.highlight,
.highlight2,
.highlight3 {
    position: absolute;
    height: 50%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}

#input:focus~.highlight,
#input:focus~.highlight2,
#input:focus~.highlight3 {
    animation: inputHighlighter 0.3s ease;
}

.screen1 select {
    outline: none;
    border: none;
    border-bottom: .0625rem solid white;
    background-color: transparent;
    color: white;
    font-size: 14pt;
    margin-top: .9375rem;
    padding-bottom: .625rem;

    width: 100%;
}

option {
    color: black;
}

.screen1 button {
    position: relative;
    display: inline-block;
    margin: .9375rem;
    padding: .9375rem 1.875rem;
    text-align: center;
    font-size: 1.125rem;
    letter-spacing: .0625rem;
    text-decoration: none;
    color: white;
    background: transparent;
    cursor: pointer;
    transition: ease-out 0.5s;
    border: .125rem solid white;
    border-radius: .625rem;
    box-shadow: inset 0 0 0 0 white;

    margin-top: 2.5rem;
    margin-left: 11.25rem;
}

.screen1 button:hover {
    color: black;
    box-shadow: inset 0 -6.25rem 0 0 white;
    transform: translateY(.3125rem) scale(1.05);
}

.screen1 button:active {
    transform: scale(0.9);
}

.container {
    display: flex;
    flex-direction: column;
    height: 45rem;
    margin-left: 6.25rem;
    margin-top: -50px;
}

h4 {
   font-size: 20px;
    font-weight: bold;
}

#div_resultado {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 25rem;
    width: 43.75rem;
    margin-bottom: .625rem;
    background-color: rgb(214, 214, 214);
    box-shadow: rgba(128, 127, 127, 0.8) 0px 20px 50px 0px;
    margin-top: 16px;
    text-align: center;
    font-size: 18px;
    border-radius: 40px;
    padding: 10px 2.5rem;
}

#div_resultado2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 15rem;
    width: 43.75rem;
    margin-bottom: 0.625rem;
    background-color: rgb(214, 214, 214);
    box-shadow: rgba(128, 127, 127, 0.8) 0px 20px 50px 0px;
    margin-top: 16px;
    text-align: center;
    font-size: 18px;
    border-radius: 40px;
    padding: 0px 2.5rem;
}
#div_resultado3 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 30rem;
    width: 43.75rem;
    margin-bottom: .625rem;
    background-color: rgb(214, 214, 214);
    box-shadow: rgba(128, 127, 127, 0.8) 0px 20px 50px 0px;
    margin-top: 16px;
    text-align: center;
    font-size: 18px;
    border-radius: 40px;
    padding: 2.5rem;
}
#div_resultado b {
    font-size: 20pt;
}
#div_resultado2 b {
    font-size: 20pt;
}
#div_resultado3 b {
    font-size: 20pt;
}

@media (max-width: 26.5625rem) {
    .screen1 {
        margin: 76.8px 32px 102.4px 4.8px;
    }

    .message {
        background: #FFFFFF;
    }
}

@keyframes downtop {
    0% {
        opacity: 0;
        margin-top: 80px;
    }

    25% {
        opacity: 0.25;
    }

    50% {
        opacity: 0.50;
    }

    75% {
        opacity: 0.75;
    }

    100% {
        opacity: 1;
    }
}

@keyframes inputHighlighter {
    from {
        background: #838585;
    }

    to {
        width: 0;
        background: transparent;
    }
}

@keyframes animMain {
    from {
        position: relative;
        right: -550px;
    }

    to {
        position: relative;
        right: 0px;
    }
}

::-webkit-input-placeholder {
    color: white;
 }